<div class="page bricks-bottom scrollable-content">
	<div class="container">
		<div class="col-xs-5 col-sm-5 center">
			<div class="page-icon icon-activities"></div>
		</div>
		<div class="col-xs-7 col-sm-7">
			<h1 class="red page-title">Activities</h1>
		</div>
	</div>

	<div>
		<form style="position: relative;">
			<fieldset style="margin-bottom: 20px;">
				<legend>SEARCH ACTIVITIES</legend>
				<div class="center" style="position: relative; top: -20px;">
					<input type="radio" value="basic" ng-model="searchtype"> Basic
					<input type="radio" value="advanced" ng-model="searchtype"> Advanced
				</div>
				<div ng-show="searchtype == 'basic'">
					<div ng-show="searchtype == 'basic'" class="container">
	                	<div class="col-xs-6 col-sm-6 center">
		                    <div class="icon-100 icon-nearme auto" ng-click="nearMeSearch()"></div>
		                </div>
		                <div class="col-xs-6 col-sm-6 center">
	                    	<div class="icon-100 icon-mostpopular auto" ng-click="popularSearch()"></div>
	                    </div>
	                </div>
	                <div ng-show="searchtype == 'basic' && !isGuest" class="container" style="padding-top: 30px;">
						<div class="col-xs-6 col-sm-6 center">
	                    	<div class="icon-100 icon-favorite auto" ng-click="favoritesSearch()"></div>
	                    </div>
	                    <div class="col-xs-6 col-sm-6 center">
	                    	<div class="icon-100 icon-random auto" ng-click="randomSearch()"></div>
	                    </div>
	                </div>
	                <div ng-show="searchtype == 'basic' && isGuest" class="container" style="padding-top: 30px;">
						<div class="col-xs-3 col-sm-3 center"></div>
	                    <div class="col-xs-6 col-sm-6 center">
	                    	<div class="icon-100 icon-random auto" ng-click="randomSearch()"></div>
	                    </div>
	                </div>
	                <div style="height: 30px;">&nbsp;</div>
	                <div>
	                	<button style="width: inherit; padding-left: 40px; padding-right: 40px; position: absolute; right: 20px; bottom: -10px;" ng-click="viewAllSearch()">View All</button>
	                </div>
	            </div>
				<div ng-show="searchtype == 'advanced'">
					<label for="keyword">Keyword Search:</label>
					<input type="text" name="name" id="name" ng-model="keywords" />

					<label for="category">Category:</label>
					<select ng-model="category">
						<option></option>
						<option ng-repeat="category in categories" value="{{ category.id }}">{{ category.description }}</option>
					</select>

					<label for="cost">Cost:</label>
					<table style="width: 100%;">
						<tr>
							<td style="width: 20%">
								<input type="checkbox" ng-model="cost1" /> Free
							</td>
							<td style="width: 20%">
								<input type="checkbox" ng-model="cost2" /> $
							</td>
							<td style="width: 20%">
								<input type="checkbox" ng-model="cost3" /> $$
							</td>
							<td style="width: 20%">
								<input type="checkbox" ng-model="cost4" /> $$$
							</td>
							<td style="width: 20%">
								<input type="checkbox" ng-model="cost5" /> $$$$
							</td>
						</tr>
					</table>

					<label for="sponsored">Sponsored:</label>
					<table style="width: 100%;">
						<tr>
							<td style="width: 33%;">
								<input type="radio" value="No" ng-model="sponsored" /> No
							</td>
							<td style="width: 33%;">
								<input type="radio" value="Yes" ng-model="sponsored" /> Yes
							</td>
							<td style="width: 33%;">
								<input type="radio" value="Both" ng-model="sponsored" /> Both
							</td>
						</tr>
					</table>

					<label for="age_slider">Age Range:</label>
					<input type="text" class="slider" value="" data-slider-min="0" data-slider-max="18" data-slider-step="1" data-slider-value="[8,12]" id="age_slider" style="width: 400px;">
					<div class="clear"></div>
					<div class="float-right">18</div>
					<div>0</div>

					<div class="container nopad">
						<div class="col-xs-6 col-sm-6 nopad-left">
							<label for="search_start_date">Start Date:</label>
							<input id="search_start_date" class="datepicker" data-date-format="mm/dd/yyyy" />
						</div>
						<div class="col-xs-6 col-sm-6 nopad-right">
							<label for="search_end_date">End Date:</label>
							<input id="search_end_date" class="datepicker" data-date-format="mm/dd/yyyy" />
						</div>
					</div>

					<script>
							$('#age_slider').width($('#age_slider').parent().width() - 20);
							$('.slider').slider();
							$('.datepicker').datepicker();
					</script>

					<div style="padding-top: 40px;" class="container nopad">
						<div class="col-xs-6 col-sm-6 nopad-left">
							<button ng-click="back()">Cancel</button>
						</div>
						<div class="col-xs-6 col-sm-6 nopad-right">
							<button class="primary" ng-click="advancedSearch()">Search</button>
						</div>
					</div>
				</div>
				
			</fieldset>
		</form>
	</div>
</div>