<div class="page bricks-bottom scrollable-content" style="padding-top: 20px;">
    <a href="#/activities/list">Go back to activities</a>
    <div class="activity">
        <div class="activity-photo-container">
            <div class="activity-photo" ng-style="{ 'background-image': 'url('+activity.imageurl+')' }"></div>
        </div>
        <div class="activity-summary">
            <h1>{{ activity.name }}</h1>
            <p>{{ activity.description }}</p>
            <h3 ng-if="activity.start && !activity.end" class="right">{{ activity.start | date: 'MMM d ha' }}</h3>
            <h3 ng-if="activity.start && activity.end && (activity.start.getFullYear() == activity.end.getFullYear() && activity.start.getMonth() == activity.end.getMonth() && activity.start.getDate() == activity.end.getDate())" class="right">
                {{ activity.start | date: 'MMM d ha' }} - {{ activity.end | date: 'ha' }}
            </h3>
            <h3 ng-if="activity.start && activity.end && !(activity.start.getFullYear() == activity.end.getFullYear() && activity.start.getMonth() == activity.end.getMonth() && activity.start.getDate() == activity.end.getDate())" class="right">
                {{ activity.start | date: 'MMM d' }} - {{ activity.end | date: 'MMM d' }}
            </h3>
        </div>
        <div class="activity-footer">
            <div class="float-right">
                <div class="icon-22 icon-facebook-black ib"></div>
                <div class="icon-22 icon-twitter-black ib" style="margin: 0px 12px;"></div>
                <div class="icon-22 icon-mail-black ib"></div>
            </div>
            <div class="icon-22 icon-heart ib"></div>
            <span class="likes">{{ activity.likes }}</span>
        </div>
    </div>
</div>

