<div class="page scrollable-content bricks-bottom">
	<div class="container">
		<div class="col-xs-5 col-sm-5 center">
			<div class="page-icon icon-locateclub"></div>
		</div>
		<div class="col-xs-7 col-sm-7">
			<h1 class="dark-red page-title">Find a Club</h1>
		</div>
	</div>

	<div class="center">
		<div>Enter zip code or city, state:</div>
        <input type="text" ng-model="zipInput" />
        <button class="primary" style="margin-top: 20px;" ng-click="zipCodeSearch()">Search</button>
    </div>
	<hr />

	<div class="center">
		<div>- OR -</div>
		<div>
			<button ng-click="nearMeSearch()">Find A Club Near Me</button>
		</div>
	</div>
</div>