<div class="app">

  <!-- Navbars -->
  <div class="navbar navbar-app navbar-absolute-top">
      <div class="navbar-brand navbar-brand-center">
        
      </div>
  </div>

  <div class="navbar navbar-app navbar-absolute-bottom">
    <div style="height: 100%; width: 100%; text-align: center; position: relative; top: -60px;">
          <div style="width: 167px; height: 100px; background: url(img/background_footer_center.png); margin: auto; position: relative; font-size: 28px; font-family: MainFont;">
            <a style="color: white" href="#" onclick="window.open('https://secure2.convio.net/bgca/site/Donation2;jsessionid=B95310C6C0BD3BB659E1154747DA1FD9.app253b?7942.donation=form1&df_id=7942', '_system');">
                <div style="position: relative; top: 24px; left: 2px;">$</div>
            </a>
            <div style="position: absolute; left: -500px; top: 0px; width: 500px; height: 100px; background: url(img/background_footer.png);"></div>
            <div style="position: absolute; right: -500px; top: 0px; width: 500px; height: 100px; background: url(img/background_footer.png);"></div>
            <a style="color: white" href="#" onclick="window.open('https://secure2.convio.net/bgca/site/Donation2;jsessionid=B95310C6C0BD3BB659E1154747DA1FD9.app253b?7942.donation=form1&df_id=7942', '_system');">
                <div style="position: relative; top: 30px; font-size: 16px;">DONATE</div>
            </a>
          </div>
      </a>
    </div>
      <!--div class="navbar-brand navbar-brand-center">
        <span>Donate</span>
      </div-->
  </div>

  <div class="app-body">
      <div class="app-content" ui-view></div>
  </div>
</div>