<!--	TODO media query for icons on a very skinny screen -->

<div class="center bricks-bottom" style="padding-top: 30%;">
	<h1 class="blue center">Welcome!</h1>
	<p class="blue center">Sign in with</p>
	<div class="row">
    	<div class="col-xs-3 col-sm-3"></div>
    	<div class="col-xs-2 col-sm-2 center">
    		<div class="icon-40 icon-facebook auto"></div>
    	</div>
    	<div class="col-xs-2 col-sm-2 center">
    		<div class="icon-40 icon-twitter auto"></div>
    	</div>
    	<div class="col-xs-2 col-sm-2 center">
    		<div class="icon-40 icon-gplus auto" ng-click="googleplusLogin()"></div>
    	</div>
	</div>
	<p class="center login_separator">- or -</p>
	<button class="guest" ng-click="guestLogin()">Proceed as Guest</button>
</div>