<div class="page bricks-bottom">
	<div class="container" style="padding-top: 60px;">
		<div class="col-xs-6 col-sm-6 center">
			<a href="#/activities/search">
				<div class="icon-activities icon-homepage"></div>
				<h3>Activities</h3>
			</a>
		</div>
		<div class="col-xs-6 col-sm-6 center">
			<a href="#/stories/search">
				<div class="icon-stories icon-homepage"></div>
				<h3>Stories</h3>
			</a>
		</div>
	</div>
	<div class="container" style="padding-top: 20px;">
		<div class="col-xs-3 col-sm-3">&nbsp;</div>
		<div class="col-xs-6 col-sm-6 center">
			<a href="#/clubs/search">
				<div class="icon-locateclub icon-homepage"></div>
				<h3>Find a Club</h3>
			</a>
		</div>
	</div>
</div>



