<div class="page bricks-bottom scrollable-content">
	<h1 class="page-title yellow center" style="position: relative;">Stories
        <div class="header-button-left icon-64 icon-search" ng-click="back()"></div>
        <div class="header-button-right icon-64 icon-add" ng-click="viewAddStory()" ng-show="isGuest"></div>
    </h1>
	<div class="page-subtitle center">Filtered by: {{ filteredby }}</div>
    <div infinite-scroll='loadStories()' infinite-scroll-disabled='scrollBusy' infinite-scroll-distance='1'>
    	<div class="activity" ng-repeat="story in stories">
    		<div class="activity-photo-container" ng-click="showStory(story.id)">
    			<div class="activity-photo" ng-style="{ 'background-image': 'url('+story.imageurl+')' }"></div>
    		</div>
    		<div class="activity-summary">
    			<h1>{{ story.name }}</h1>
    			<p>{{ story.description | cut:true:130 }}</p>
    		</div>
    		<div class="activity-footer">
    			<div class="float-right">
    				<div class="icon-22 icon-facebook-black ib"></div>
    				<div class="icon-22 icon-twitter-black ib" style="margin: 0px 12px;"></div>
    				<div class="icon-22 icon-mail-black ib"></div>
    			</div>
    			<div class="icon-22 icon-heart ib"></div>
    			<span class="likes">{{ story.likes }}</span>
    		</div>
    	</div>
        <div ng-show="loading" class="center"><img src="img/loading.gif" style="padding: 10px 0px 20px 0px;" alt="" /></div>
    	<center><h3 ng-show="noResults">No More Results...</h3></center>
	</div>
</div>