<div class="page scrollable-content bricks-bottom">
	<div class="container" style="padding: 0px; margin: 0px;">
		<div class="col-xs-3 col-sm-3 center">
			<div class="page-icon-small icon-activities"></div>
		</div>
		<div class="col-xs-9 col-sm-9">
			<h1 class="red page-title">Add an Activity</h1>
		</div>
	</div>

	<div>
		<form style="position: relative;">
			<fieldset style="position: relative; top: 20px; margin-bottom: 20px;">
				<label for="keyword">Name:</label>
				<input type="text" name="name" id="name" />

				<label for="keyword">Description:</label>
				<textarea rows="4" style="height: 80px;"></textarea>

				<label for="keyword">Cost:</label>
				<table style="width: 100%;">
					<tr>
						<td style="width: 20%">
							<input type="radio" /> Free
						</td>
						<td style="width: 20%">
							<input type="radio" /> $
						</td>
						<td style="width: 20%">
							<input type="radio" /> $$
						</td>
						<td style="width: 20%">
							<input type="radio" /> $$$
						</td>
						<td style="width: 20%">
							<input type="radio" /> $$$$
						</td>
					</tr>
				</table>

				<label>Category</label>
				<select ng-model="category">
					<option></option>
					<option ng-repeat="category in categories" value="{{ category.id }}">{{ category.description }}</option>
				</select>				

				<label for="sponsored">Sponsored:</label>
				<table style="width: 100%;">
					<tr>
						<td style="width: 50%;">
							<input type="radio" value="No" ng-model="sponsored" /> No
						</td>
						<td style="width: 50%;">
							<input type="radio" value="Yes" ng-model="sponsored" /> Yes
						</td>
					</tr>
				</table>

				<label for="age_slider">Age Range:</label>
				<input type="text" class="slider" value="" data-slider-min="0" data-slider-max="18" data-slider-step="1" data-slider-value="[8,12]" id="age_slider" style="width: 400px;">
				<div class="clear"></div>
				<div class="float-right">18</div>
				<div>0</div>

				<div>
					<label for="activity_add_start_date">Start Date:</label>
					<input id="activity_add_start_date" class="datepicker" data-date-format="mm/dd/yyyy" />
				</div>
				<div>
					<label for="activity_add_end_date">End Date:</label>
					<input id="activity_add_end_date" class="datepicker" data-date-format="mm/dd/yyyy" />
				</div>

				<label for="keyword">Location:</label>
				<input type="text" name="location" id="location" ng-model="location" />

				<script>
						$('#age_slider').width($('#age_slider').parent().width() - 20);
						$('.slider').slider();
						$('.datepicker').datepicker();
				</script>



				<div style="padding-top: 40px;" class="container nopad">
					<div class="col-xs-6 col-sm-6 nopad-left">
						<button ng-click="back()">Cancel</button>
					</div>
					<div class="col-xs-6 col-sm-6 nopad-right">
						<button class="primary">Submit</button>
					</div>
				</div>
				
			</fieldset>
		</form>
	</div>
</div>