<div class="page bricks-bottom scrollable-content">
	<h1 class="page-title red center" style="position: relative;">Activities
        <div class="header-button-left icon-64 icon-search" ng-click="searchActivities()"></div>
        <div class="header-button-right icon-64 icon-add" ng-click="viewAddActivity()" ng-show="!isGuest || true"></div>
    </h1>
	<div class="page-subtitle center">Filtered by: {{ filteredby }}</div>
    <div infinite-scroll='loadActivities()' infinite-scroll-disabled='scrollBusy' infinite-scroll-distance='1'>
    	<div class="activity" ng-repeat="activity in activities">
            <a href="#/activity/{{ activity.id }}" style="color: #666;">
        		<div class="activity-photo-container" ng-click="showActivity(activity.id)">
        			<div class="activity-photo" ng-style="{ 'background-image': 'url('+activity.imageurl+')' }"></div>
        		</div>
        		<div class="activity-summary">
        			<h1>{{ activity.name }}</h1>
        			<p>{{ activity.description | cut:true:130 }}</p>
                    <p ng-if="activity.distance">{{ activity.distance | number:0 }} miles away</p>
        			<h3 ng-if="activity.start && !activity.end" class="right">{{ activity.start | date: 'MMM d ha' }}</h3>
                    <h3 ng-if="activity.start && activity.end && (activity.start.getFullYear() == activity.end.getFullYear() && activity.start.getMonth() == activity.end.getMonth() && activity.start.getDate() == activity.end.getDate())" class="right">
                        {{ activity.start | date: 'MMM d ha' }} - {{ activity.end | date: 'ha' }}
                    </h3>
                    <h3 ng-if="activity.start && activity.end && !(activity.start.getFullYear() == activity.end.getFullYear() && activity.start.getMonth() == activity.end.getMonth() && activity.start.getDate() == activity.end.getDate())" class="right">
                        {{ activity.start | date: 'MMM d' }} - {{ activity.end | date: 'MMM d' }}
                    </h3>
        		</div>
            </a>
    		<div class="activity-footer">
    			<div class="float-right">
    				<div class="icon-22 icon-facebook-black ib"></div>
    				<div class="icon-22 icon-twitter-black ib" style="margin: 0px 12px;"></div>
    				<div class="icon-22 icon-mail-black ib"></div>
    			</div>
    			<div class="icon-22 icon-heart ib" id="activity_fav_{{ activity.id }}" ng-style="{'opacity': activity.favorited?'1':'.2'}" ng-click="favorite(activity)"></div>
    			<span class="likes">{{ activity.likes }}</span>
    		</div>
    	</div>
        <div ng-show="loading" class="center"><img src="img/loading.gif" style="padding: 10px 0px 20px 0px;" alt="" /></div>
    	<center><h3 ng-show="noResults">No More Results...</h3></center>
	</div>
</div>