<div class="page bricks-bottom scrollable-content" id="clubs_page">
	
	<div ng-show="clubView == 'list'">
		<h1 class="page-title dark-red center">Find a Club</h1>
		<div class="page-subtitle center">{{ filteredby }}</div>
		<div class="right">
			<button style="width: inherit; padding-left: 20px; padding-right: 20px;" ng-click="viewMap()">View Map</button>

		</div>
		<div class="activity" ng-repeat="club in clubs">
			<div class="activity-footer">
				<h3 class="blue fontheading">{{ club.name }}</h3>
			</div>
			<div class="activity-summary">
				
				<div class="container" style="padding: 20px;">
					<div class="col-xs-2 col-sm-2">
						<div class="icon-40 icon-pin" style="position: relative; left: -10px;"></div>
					</div>
					<div class="col-xs-10 col-sm-10">
						<div ng-if="club.address_1">{{ club.address_1 }}</div>
						<div ng-if="club.address_2">{{ club.address_2 }}</div>
						<div ng-if="club.address_3">{{ club.address_3 }}</div>
						<div ng-if="club.address_4">{{ club.address_4 }}</div>
						<div>{{ club.city }}, {{ club.state }} {{ club.zip_code }}</div>
					</div>
				</div>
				<div class="container" style="padding: 20px;">
					<div class="col-xs-2 col-sm-2 center">
						<div class="icon-40 icon-phone" style="position: relative; left: -10px;"></div>
					</div>
					<div class="col-xs-10 col-sm-10">
						<div ng-if="club.phone_number">{{ club.phone_number }}</div>
						<div ng-if="club.fax_number">{{ club.fax_number }}</div>
					</div>
				</div>
				
				<div class="right blue">{{ club.status }}</div>
			</div>
			<div class="activity-footer" style="height: 40px;">
    			<div class="float-right">
    				<div class="icon-22 icon-facebook-black ib"></div>
    				<div class="icon-22 icon-twitter-black ib" style="margin: 0px 12px;"></div>
    				<div class="icon-22 icon-mail-black ib"></div>
    			</div>
    		</div>
			
		</div>
		<div ng-show="loading" class="center"><img src="img/loading.gif" style="padding: 10px 0px 20px 0px;" alt="" /></div>
	</div>
	<div ng-show="clubView == 'map'" style="padding-top: 12px;">
		<div class="float-right">
			<button style="width: inherit; padding-left: 20px; padding-right: 20px;" ng-click="viewList()">View List</button>
		</div>
		<h1 class="page-title dark-red" style="margin: 0px; padding: 0px;">Find a Club</h1>
		<div class="activity" style="margin: 0px;">
			<div id="club-map"></div>
			<style>
				#club-map { height: 300px; margin: 0; padding: 0;}
			</style>
		</div>
	</div>
</div>