<div class="page scrollable-content bricks-bottom">
	<div class="container">
		<div class="col-xs-5 col-sm-5 center">
			<div class="page-icon icon-stories"></div>
		</div>
		<div class="col-xs-7 col-sm-7">
			<h1 class="yellow page-title">Stories</h1>
		</div>
	</div>

	<div>
		<form>
			<fieldset>
				<legend>SEARCH STORIES</legend>
				<label for="keyword">Keyword Search:</label>
					<input type="text" name="name" id="name" ng-model="keywords" />

					<label for="genre">Genre:</label>
					<select ng-model="genre">
						<option></option>
						<option ng-repeat="genre in genres" value="{{ genre.id }}">{{ genre.name }}</option>
					</select>

					<label for="culture">Culture:</label>
					<select ng-model="culture">
						<option></option>
						<option ng-repeat="culture in cultures" value="{{ culture.id }}">{{ culture.name }}</option>
					</select>

					<label for="stories_age_slider">Age Range:</label>
					<input type="text" class="slider" value="" data-slider-min="0" data-slider-max="18" data-slider-step="1" data-slider-value="[8,12]" id="stories_age_slider" style="width: 400px;">
					<div class="clear"></div>
					<div class="float-right">18</div>
					<div>0</div>

					<label for="gender">Gender:</label>
					<table style="width: 100%;">
						<tr>
							<td style="width: 33%;">
								<input type="radio" value="Male" ng-model="gender" /> Male
							</td>
							<td style="width: 33%;">
								<input type="radio" value="Female" ng-model="gender" /> Female
							</td>
							<td style="width: 33%;">
								<input type="radio" value="Both" ng-model="gender" /> Both
							</td>
						</tr>
					</table>

					<script>
							$('#stories_age_slider').width($('#stories_age_slider').parent().width() - 20);
							$('.slider').slider();
					</script>

					<div style="padding-top: 40px;" class="container nopad">
						<div class="col-xs-6 col-sm-6 nopad-left">
							<button ng-click="back()">Cancel</button>
						</div>
						<div class="col-xs-6 col-sm-6 nopad-right">
							<button class="primary" ng-click="search()">Search</button>
						</div>
					</div>
				
			</fieldset>
		</form>
		<hr />
		<button class="primary page_padding" ng-click="viewAllSearch()">Or View All Stories</button>
		<div style="height: 30px;">&nbsp;</div>
	</div>
</div>