@font-face {
	font-family: "HeadingFont";
	src: url("../fonts/Helvetica Neue LT Std/HelveticaNeueLTStd-BdCn.otf") format("opentype");   
}
@font-face {
	font-family: "MainFont";
	src: url("../fonts/Helvetica Neue LT Std/HelveticaNeueLTStd-Lt.otf") format("opentype");   
}
@font-face {
	font-family: "CondensedFont";
	src: url("../fonts/Helvetica Neue Thin/HelveticaNeue-ThinCond.otf") format("opentype");   
}



/* Application Layouts and Branding */
h1.app-name {
	font-family: serif;
	font-size: 18px;
	text-align: center;
}
.app {
	background: #fdfdfd; /* Old browsers */
	background: -moz-linear-gradient(top,  #fdfdfd 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fdfdfd 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fdfdfd 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fdfdfd 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fdfdfd 0%,#e5e5e5 100%); /* W3C */
}
.app-body{
	height: 100vh;
	background: url(../img/background_texture.png);
}
.app-content {
	background: url(../img/background_bricks_top.png) top center no-repeat;
	background-size: contain;
}
.bricks-bottom {
	background: url(../img/background_bricks_bottom.png) bottom center no-repeat;
	background-size: contain;
	min-height: 100%;
}
.navbar-absolute-top {
	background: #0082be url(../img/logo_64.png) center center no-repeat;
	background-size: contain;
	border: 0px;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.75);
}
.navbar-absolute-bottom {
	/*background: #2da348;*/
	border: 0px;
	height: 30px;
	min-height: 30px;
	font-family: "HeadingFont", serif;
	text-transform: uppercase;
	color: #fff;
}
.navbar-absolute-bottom .navbar-brand {
	padding: 6px;
}
.has-navbar-bottom .app-body {
	padding-bottom: 30px;
}
.sidebar-left {
	background: #555; /* Old browsers */
	background: -moz-linear-gradient(top,  #555 0%, #999 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555), color-stop(100%,#999)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #555 0%,#999 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #555 0%,#999 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #555 0%,#999 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #555 0%,#999 100%); /* W3C */
}
.sidebar-left .scrollable {
	background: url(../img/logo_64.png) center 80% no-repeat;
}
.icon-menu {
	background: #0082be url(../img/icon_64_menu.png) center center no-repeat;
	width: 32px;
	height: 32px;
	background-size: contain;
	margin-top: 8px;
}
.sidebar {

}
a.list-group-item.active, a.list-group-item.active:focus, a.list-group-item.active:hover {
	background-color: #0082be;
	border-color: #0082be;
}
.nopad {
	padding: 0px;
}
.nopad-left {
	padding-left: 0px;
}
.nopad-right {
	padding-right: 0px;
}
.scrollable-content {
	overflow-x: hidden;
}


/* Standard Elements */


h1 {
	font-family: "HeadingFont", serif;
	font-size: 28px;
}
h3 {
	font-size: 18px;
}
h2,h3,h4,h5 {
	font-family: "MainFont", serif;
}
.fontheading {
	font-family: "HeadingFont", serif;
}
a { color: #0082be; }
html, body {
	font-family: "MainFont", serif;
	color: #626366;
}
fieldset {
	border: 1px solid #a7a9ab;
	padding: 12px;
	border-radius: 8px;
}
legend {
	font-family: "HeadingFont", serif;
	color: #0082be;
	text-align: center;
	border: 0px;
	display: inline;
	width: inherit;
	padding: 12px;
	padding-bottom: 0px;
	margin: 0px;
}
label {
	display: block;
	padding-top: 12px;
}
input, select, textarea {
	width: 100%;
	border-radius: 6px;
	padding: 4px;
	height: 32px;
	resize: none;
}
input[type="checkbox"], input[type="radio"] {
	width: 22px;
	height: 16px;
	display: inline;
	position: relative;
}
button {
	width: 100%;
	border: 1px solid #0082be;
	color: #0082be;
	font-family: "HeadingFont", serif;
	padding: 4px 4px 0px 4px;
	background: #fff;
	border-radius: 6px;
	text-transform: uppercase;
}

button.primary {
	color: #fff;
	background: #0082be;
}
hr {
	border-bottom: 1px solid #0082be;
}


/* Generics */
.ib { display: inline-block; }
.blue { color: #0082be; }
.red { color: #dd6754; }
.dark-red { color: #d64b35; }
.green { color: #2da348; }
.yellow { color: #de9327; }
.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }
.float-left { float: left; }
.float-right { float: right; }
.clear { clear: both; }
.auto { margin: auto; }
.icon-16 {
	width: 16px;
	height: 16px;
}
.icon-22 {
	width: 22px;
	height: 22px;
}
.icon-32 {
	width: 32px;
	height: 32px;
}
.icon-40 {
	width: 40px;
	height: 40px;
}
.icon-64 {
	width: 64px;
	height: 64px;
}
.icon-100 {
	width: 100px;
	height: 100px;
}
.icon-128 {
	width: 128px;
	height: 128px;
}
.icon-facebook {
	background: url(../img/icon_128_facebook.png) no-repeat center center;
	background-size: contain;
}
.icon-twitter {
	background: url(../img/icon_128_twitter.png) no-repeat center center;
	background-size: contain;
}
.icon-gplus {
	background: url(../img/icon_128_gplus.png) no-repeat center center;
	background-size: contain;
}
.icon-facebook-black {
	background: url(../img/icon_64_facebook_black.png) no-repeat center center;
	background-size: contain;
}
.icon-twitter-black {
	background: url(../img/icon_64_twitter_black.png) no-repeat center center;
	background-size: contain;
}
.icon-gplus-black {
	background: url(../img/icon_64_gplus_black.png) no-repeat center center;
	background-size: contain;
}
.icon-mail-black {
	background: url(../img/icon_64_mail_black.png) no-repeat center center;
	background-size: contain;
}
.icon-activities {
	background: url(../img/icon_222_activities.png) no-repeat center center;
	background-size: contain;
}
.icon-heart {
	background: url(../img/icon_120_heart.png) no-repeat center center;
	background-size: contain;
}
.icon-activities {
	background: url(../img/icon_222_activities.png) no-repeat center center;
	background-size: contain;
}
.icon-stories {
	background: url(../img/icon_222_stories.png) no-repeat center center;
	background-size: contain;
}
.icon-locateclub {
	background: url(../img/icon_222_locateclub.png) no-repeat center center;
	background-size: contain;
}
.icon-favorite {
	background: url(../img/icon_480_favorite.png) no-repeat center center;
	background-size: contain;
}
.icon-random {
	background: url(../img/icon_480_random.png) no-repeat center center;
	background-size: contain;
}
.icon-nearme {
	background: url(../img/icon_480_nearme.png) no-repeat center center;
	background-size: contain;
}
.icon-mostpopular {
	background: url(../img/icon_480_mostpopular.png) no-repeat center center;
	background-size: contain;
}
.icon-search {
	background: url(../img/icon_480_search.png) no-repeat center center;
	background-size: contain;
}
.icon-add {
	background: url(../img/icon_480_add.png) no-repeat center center;
	background-size: contain;
}
.icon-pin {
	background: url(../img/icon_480_pin.png) no-repeat center center;
	background-size: contain;
}
.icon-phone {
	background: url(../img/icon_480_telephone.png) no-repeat center center;
	background-size: contain;
}
.icon-clock {
	background: url(../img/icon_480_clock.png) no-repeat center center;
	background-size: contain;
}






/* Page Stuff */
.page {
	padding: 0px 20px;
}
.page-icon {
	width: 110px;
	height: 110px;
	background-size: contain;
	top: -20px;
	position: relative;
}
.page-icon-small {
	width: 80px;
	height: 80px;
	background-size: contain;
	top: 10px;
	left: -20px;
	position: relative;
}
.page-title {
	padding-top: 30px;
	font-size: 2.5em;
}
.page-subtitle {
	position: relative;
	top: -24px;
}
.header-button-left {
	position: absolute;
	left: -30px;
	top: 36px;
}
.header-button-right {
	position: absolute;
	right: -30px;
	top: 36px;
}



.icon-homepage {
	height: 140px;
	background-size: contain;
}
.activity {
	border: 1px solid #d7d8da;
	background: #fff;
	-webkit-box-shadow: 3px 3px 16px 0px rgba(50, 50, 50, 0.64);
	-moz-box-shadow:    3px 3px 16px 0px rgba(50, 50, 50, 0.64);
	box-shadow:         3px 3px 16px 0px rgba(50, 50, 50, 0.64);
	margin: 10px 0px 40px 0px;
}
.activity-photo-container {
	padding: 8px;
}
.activity-photo {
	background: #fff center center no-repeat;
	background-size: cover; /* use this one to make it way cooler for normal photos */
	background-size: contain;
	height: 180px;
}
.activity-summary {
	padding: 8px;
}
.activity h1, .activity h2, .activity h3, .activity h4 {
	margin: 0px;
}
.activity p {
	position: relative;
	top: -6px;
}
.activity-footer {
	background: #f0f1f1;
	padding: 8px;
}
.likes {
	color: #b81e64;
	font-size: 16px;
	position: relative;
	top: -4px;
}

.guest{
	width: 80%;
	background: #0082be;
	color: white;
}

.login_separator{
	color: #0082be;
	font-size: 1.5em;
	padding: 10px;
}

.page_padding{
	margin-bottom: 40px;	
}

.slider-selection {
	background: #0082be; /* Old browsers */
	background: -moz-linear-gradient(top,  #045f83 0%, #154271 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#045f83), color-stop(100%,#154271)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #045f83 0%,#154271 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #045f83 0%,#154271 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #045f83 0%,#154271 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #045f83 0%,#154271 100%); /* W3C */
}
.slider-handle {
	background: #eee;
	opacity: 1;
	height: 22px;
	width: 12px;
	-webkit-box-shadow: 1px 1px 9px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 1px 9px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 1px 9px 0px rgba(50, 50, 50, 0.75);
}
input.datepicker {
	background-image: url(../img/icon_32_calendar.png);
	background-repeat: no-repeat;
	background-position: 98% center;
	background-size: 22px 22px;
}


